/* Informacion general*/ 
body{background-color: #5D2A42;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    word-wrap: break-word;
}
/* Ids*/ 
#textomedio {text-align: center;}
#textoleft {text-align: left;}
/* Clases */ 
.boxinfo{ background-color: #FB6376; 
    width: 80%; 
    margin-left: 10%; 
    margin-right: 10%;  
    padding-left: 4%; 
    padding-top: 2%; 
    padding-bottom: 2%; 
    padding-right: 4%;
}

.contenedor{ background-color: none;
    text-align: center;
    height: 20%; 
    width: 80%; 
    margin-left: 10%; 
    margin-right: 10%;  
}

.CuadroDobleCentrado1{background-color: #FCB1A6;
    width: 50%;
    float: left;  
    height: 100%; 
    padding-top: 1%; 
    padding-bottom: 1%; 

}
.CuadroDobleCentrado2{
    background-color: #FFDCCC;
    width: 50%;
    height: 100%; 
    padding-top: 1%;  
    padding-bottom: 1%; 
    float: right;
}
.imagenes{                    
    width: 80%;
    padding-left: 20%;
    
}
.imagenes2{
    width: 55%;
    height: 55%;
    padding-left: 20%;
}
.recomendacion{background-color: #EBE18D; 
    width: 80%;
    height: 20%; 
    margin-left: 10%; 
    margin-right: 10%;  
    padding-left: 2%; 
    padding-top: 2%; 
    padding-bottom: 2%; 
    padding-right: 1%;
}
.subtitulo{
    padding-left: 10;
}

.contacto{
    text-align: center;
    background-color: #FB6376; 
    width: 80%; 
    margin-left: 10%; 
    margin-right: 10%;  
    padding-left: 4%; 
    padding-bottom: 2%; 
    padding-right: 4%;
}
.contacto1 { 
    background-color: turquoise;
    margin-top: 2%;
    border: 0.3cm; 
    border-style: outset;
    border-color: aqua;
    margin-right: 4%;
    margin-left: 4%;
    padding-top: 1%;
    padding-bottom: 1%;
}
.footer{
    margin-left: 10%;
    margin-right: 10%;
}
.link{
    color: white;
}
.link:hover{  /* Permite cambiar el color del link al pasar el mouse por encima */ 
    color: red;
}
